     html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.slider {
  width: 100%;
  margin: 100px auto;
}
.slick-slide {
  margin: 30px 20px;
}
.slick-list {
  padding: 15px 50px !important;
}
.slick-slide img {
  width: 100%;
  transform: scale(0.9);
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-dotted .slick-current img {
  transform: scale(1.1);
}
.flip-card-back {
    opacity: 0;
    transform: rotateY(180deg);
}
.flip-card-inner:hover .flip-card-front {
    opacity: 1;
}
.flip-card-inner:hover .flip-card-back {
    opacity: 1;
    transition: .8s;
    transform: rotateY(360deg);
}
button.slick-prev.slick-arrow {
    top: unset;
    left: 47.5%;
    bottom: -70px;
}
button.slick-next.slick-arrow {
    right: 48.8%;
    bottom: -70px;
    top: unset;
}
.ancher a {
    text-decoration: none;
    padding: 8px 30px;
    border: 2px solid #2f99a3;
    color: #2f99a3;
    font-size: 18px;
    border-radius: 50px;
    position: relative;
    top: 20px;
}
.flip-card-slider {
  list-style-type: none;
  text-align: center;
  display: block;
  position: relative; }
  .flip-card-slider.slick-dotted {
    margin-bottom: 50px; }
  .flip-card-slider .slick-prev, .flip-card-slider .slick-next {
    height: 60px;
    width: 60px;
    opacity: 0; }
    .flip-card-slider .slick-prev:before, .flip-card-slider .slick-next:before {
      font-size: 60px; }
  .flip-card-slider.slick-dotted {
    padding-bottom: 100px; }
  .flip-card-slider li {
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    width: 100%; }
  .flip-card-slider .slick-track {
    padding: 50px 0; }
  .flip-card-slider .slick-dots {
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    bottom: 0; }
    .flip-card-slider .slick-dots li {
      display: inline-block !important;
      width: auto;
      height: auto;
      padding: 2px 0;
      display: inline-block;
      margin: 10px 5px;
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;
      cursor: pointer; }
      .flip-card-slider .slick-dots li.slick-active button {
        background-color: #ABC74A; }
      .flip-card-slider .slick-dots li button {
        width: 50px;
        margin: 0 auto;
        text-align: center;
        height: 8px;
        padding: 0;
        background-color: #C4C1C4;
        border-radius: 7px;
        list-style: none;
        display: inline-block; }
        .flip-card-slider .slick-dots li button:before {
          display: none; }
.flip-card {
  width: 100%;
  height: 300px;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  height: 300px;
}
.flip-card-inner-top {
  background: #ABC74A;
  height: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden; */
  /* backface-visibility: hidden; */
  background-image: linear-gradient(-31deg, #F4F2F4 0%, #FFFFFF 100%);
  box-shadow: 2px 4px 10px 0 rgba(66, 79, 98, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  }
  .flip-card-front.fc-not-flex, .flip-card-back.fc-not-flex {
    display: block; }
.flip-card-front {
  font-family: "azo-sans-web", sans-serif;
  font-size: 24px;
  color: #2F99A3;
  text-align: center;
  line-height: 28px;
  border-radius: 12px;
  word-wrap: break-word; }
  .flip-card-front i {
    margin: 0 auto 20px;
    font-size: 65px;
    color: #ABC74A;
    display: block; 
        position: relative;
    top: 20px;  
      
  }
.flip-card-padding {
  padding: 0 20px; }
.flip-card-back {
  font-family: "azo-sans-web", sans-serif;
  font-size: 24px;
  color: #2F99A3;
  text-align: center;
  line-height: 28px;
  /* transform: rotateY(180deg); */
  border-radius: 12px;
  word-wrap: break-word;
  }
  .flip-card-back .back-title {
    padding-top: 24px;
    padding-bottom: 0;
    margin-bottom: 15px; }
  .flip-card-back p {
    font-size: 14px;
    color: #424F62;
    text-align: center;
    line-height: 24px; }
.flip-card-back p, .flip-card-front p {
    font-size: 18px;
    color: #424F62;
    text-align: center;
    line-height: 24px;
}
.slick-prev:before, .slick-next:before {
    color: #b4da2f !important;
    font-size: 30px !important;
}
.slick-prev:before {
    content: '\f053' !important;
    font-family: fontawesome !important;
}
.slick-next:before {
    content: '\f054' !important;
    font-family: fontawesome !important;
}
@media(min-width: 1170px) {
  .slick-slide.slick-current.slick-active.slick-center {
    transform: scale(1.1);
}
}
@media only screen and (max-width: 1024px) and (min-width: 700px) {
    .flip-card-inner {
    height: 360px !important;
}
button.slick-prev.slick-arrow {
    top: unset;
    left: 47%;
    bottom: -70px;
}
/*
button.slick-next.slick-arrow {
    top: 30pc;
    right: 22pc;
}*/
}
@media(max-width: 768px) {
  button.slick-next.slick-arrow {right:45.8%;}
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  button.slick-prev.slick-arrow {
    top: unset;
    left: 42%;
    bottom: -70px;
}
}
@media(max-width: 640px) {
 .slick-slide.slick-current.slick-active.slick-center {
    transform: scale(1.1);
} 
  /*button.slick-prev.slick-arrow {
    top: 28pc;
    left: 9pc;
}
button.slick-next.slick-arrow {
    top: 28pc;
    right: 9pc;
}*/
   .flip-card-inner {
    height: 360px !important;
}
  
}
@media(max-width: 600px) {
  
  button.slick-next.slick-arrow {
    right: 38%;
    bottom: -70px;
    top: unset;
    left: unset;
}
}
@media(max-width: 360px) {
  
  button.slick-next.slick-arrow {
    right: 42%;
    bottom: -70px;
    top: unset;
    left: unset;
}
}


.qoute_icon {
    position: absolute;
    bottom: -20px;
    right: 0;
    display: flex;
}
.slick-initialized .slick-slide{
    transform: scale(.85);
}

.qoute_icon-1 {
    position: absolute;
    top: -20px;
    left: 0;
    display: flex;
}